.popup__title {
  margin: 0 .5rem 0 2.57rem;
  padding-top: 1.42em;
  font-weight: 900;
  font-size: 1.71em;
  line-height: 1.21;
}

@media screen and (max-width: 520px) {
  .popup__title {
    margin: 0 1rem 0 1.4rem;
    padding-top: 1.7em;
    font-size: 1.28em;
  }
}
