.gallery {
  max-width: 882px;
  width: calc(100% - 18px);
  margin: 0 auto;
  padding-top: 3.6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px 18px;
  justify-content: center;
}

@media screen and (max-width: 475px) {
  .gallery {
    padding-top: 2.6rem;
  }
}
