.card__image {
  width: 100%;
  height: 282px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
  z-index: 0;
  display: block;
}

.card__image::before {
  content: 'Извините, изображение не загружено';
  color: black;
  width: 100%;
  height: 253.2px;
  display: block;
  font-size: 1rem;
  font-weight: normal;
}
