.form__title {
  color: #ffffff;
  font-weight: 900;
  font-size: 1.71rem;
  line-height: 2.075rem;
  margin: 0;
  margin-top: 4.29rem;
}

@media screen and (max-width: 475px) {
  .form__title {
    font-size: 1.43rem;
    line-height: 1.73rem;
    margin-top: 2.86rem;
  }
}
