@import url(_type/popup__item_type_name.css);
@import url(_type/popup__item_type_description.css);

.popup__item {
  width: 83%;
  padding-bottom: .8em;
  font-size: 1em;
  line-height: 1.22;
  font-weight: normal;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}


.popup__item:focus {
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  outline: 1px solid rgba(65, 105, 225, 0.3);
}

@media screen and (max-width: 520px) {
  .popup__item {
    font-size: .86em;
  }
}
